<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <script src="./javascripts/lodash.js"></script>
        <script src="./javascripts/axios.js"></script>
        <script src="./javascripts/common.js"></script>
    </head>
    <body>
        <div class="header">
            <div>
                <div class="logo"></div>
                <div class="system-name">PHOTO PSYCHO</div>
            </div>
        </div>
        <div class="outside-container">
            <div class="container">
                <div class="intro-area">
                    <div class="intro-title">一頁式網站圖片生成器</div>
                    <div class="intro-word">還在用PPT和WORD拼圖嗎？試試看更有效率的工具吧</div>
                </div>
                <div class="input-area">
                    <div class="label"></div>
                    <div class="input-container">
                        <input type="file" accept="image/*" id="uploadFile" multiple />
                    </div>
                </div>
                <div class="sort-area">
                    <div class="sort-container">
                        <div class="sort-item" >
                            <input type="radio" name="sort" id="sortByUpload" value="byUpload" checked/><label for="sortByUpload">依上傳順序</label>
                        </div>
                        <div class="sort-item" >
                            <input type="radio" name="sort" id="sortByName" value="byName" /><label for="sortByName">依數字檔名</label>
                        </div>
                        <div class="sort-item hide" >
                            <input type="radio" name="sort" id="sortByUser" value="byUser"/><label for="sortByUser">自訂</label>
                        </div>
                    </div>
                </div>
                <div class="filter-area hide">
                    <div class="filter-container">
                        <div class="label">檔名為：</div>
                        <input type="text" name="pre-word" placeholder="投影片_" />
                        <div class="label">數字編號</div>
                        <input type="text" name="pre-word" placeholder="若沒有則空白" />
                        <div class="label"></div>
                    </div>
                </div>
                <div class="preview-area">
                    <div id="addFileButton" class="upload-item">
                        <div class="add-icon"></div>
                        <div class="add-word">新增圖片(可多選)</div>
                    </div>
                    <span></span>
                </div>
                <div class="submit-area">
                    <button id="clearButton" class="grey-button cancel-button">清除全部</button>
                    <button id="submitButton" class="blue-button send-button">開始拼圖</button>
                </div>
                <div class="result-area hide">
                    <div class="gradient-grep"></div>
                    <div class="result-container">
                        <div class="result-title">你完成了！</div>
                        <div class="result-word">按右鍵可另存圖片🥰</div>
                    </div>
                    <div class="result-image-container">
                        <canvas id="resultImage"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal hide" id="nothing">
            <div class="modal-container">
                <div class="modal-title">可是你沒有放入圖片呀   🤔</div>
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal hide" id="welldone">
            <div class="modal-container">
                <div class="modal-title">你完成了！</div>
                <div class="modal-content">按右鍵可另存圖片🥰</div>
            </div>
        </div>
    </body>
</html>